doctype html
html
  head
    title Pig Force Five
    link(href='//fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet')
    link(rel="stylesheet", href="/styles/app.css")
  body
    #container
      include title
      include board
      include menu
      include battle

    script(src='/js/lib/jquery.min.js')
    script(src='/js/app.js')