#title.scene
  h1 Pig Force Five
  p
    img(src="/img/title/Applesauce.png")
    img(src="/img/title/Alicia.png")
    img(src="/img/title/KingEmmett.png")
    img(src="/img/title/Reuben.png")
    img(src="/img/title/Paco.png")
  button Start Game